---
import Maze from "@/components/projects/asterius/maze";
import PageLayout from "@/layouts/layout.astro";
import Link from "@repo/ui/components/link";
import RevealSection from "@repo/ui/components/reveal-section.astro";
import SectionHeader from "@repo/ui/components/section-header.astro";
---

<PageLayout title="Asterius | Corbin Murray">
	<RevealSection>
		<SectionHeader title="Asterius" />
	</RevealSection>

	<RevealSection>
		<article>
			<p>
				Asterius is a project I built to bring the{" "}
				<Link href="https://en.wikipedia.org/wiki/A*_search_algorithm" variant="external"> A* </Link>{" "}
				pathfinding algorithm to life through visualization. As someone who has been captivated by video games since childhood, I&apos;ve always been intrigued by
				the mechanics of how characters and objects navigate their environments.
			</p>
		</article>
	</RevealSection>

	<RevealSection>
		<div class="max-w-screen-sm mx-auto my-12 md:my-24">
			<Maze client:load className="mx-auto" />
		</div>
	</RevealSection>

	<RevealSection className="mt-48">
		<article>
			<h2>Generating the Maze</h2>

			<p>Generating an unbiased, random maze can be challenging. Thankfully, there is an algorithm that is good for this specific task.</p>
			<p>
				Wilson&apos;s algorithm uses <Link href="https://en.wikipedia.org/wiki/Loop-erased_random_walk" variant="external">Loop-erased random walks</Link> to generate
				a uniform spanning tree — an unbiased sample of all possible spanning trees. Most other maze generation algorithms, such as Prim&apos;s, random traversal
				and randomized depth-first traversal, do not have this beautiful property.
			</p>

			<h2>Solving the Maze</h2>
		</article>
	</RevealSection>
</PageLayout>
