---
import Maze from "@/components/projects/asterius/maze";
import { Content as AsteriusDoc } from "@/components/projects/asterius/README.md";
import PageLayout from "@/layouts/layout.astro";
import Link from "@repo/ui/components/link";
import RevealSection from "@repo/ui/components/reveal-section.astro";
import SectionHeader from "@repo/ui/components/section-header.astro";
---

<PageLayout title="Asterius | Corbin Murray">
	<RevealSection>
		<SectionHeader title="Asterius" />
	</RevealSection>

	<RevealSection>
		<article>
			<p>
				Asterius is a project I built to bring the{" "}
				<Link href="https://en.wikipedia.org/wiki/A*_search_algorithm" variant="external"> A* </Link>{" "}
				pathfinding algorithm to life through visualization. As someone who has been captivated by video games since childhood, I&apos;ve always been intrigued by
				the mechanics of how characters and objects navigate their environments.
			</p>
		</article>
	</RevealSection>

	<RevealSection>
		<div class="max-w-screen-sm mx-auto my-12 md:my-24">
			<Maze client:load className="mx-auto" />
		</div>
	</RevealSection>

	<RevealSection className="mt-48">
		<AsteriusDoc />
	</RevealSection>
</PageLayout>
