---
import PageLayout from "@/layouts/layout.astro";
import { Button } from "@repo/ui/components/button";
---

<PageLayout title="Corbin Murray | Software Engineer">
	<Button>hello</Button>
</PageLayout>
